{% extends "base.html" %}

{% block content %}
    <body id="page-top">

    <header>
        <div>
            <h1>Bayesian Statistical Modeling for Performance Measure Evaluation</h1>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div>
                    <h1>Bayes Theorem</h1>
                    <p>One of the primary tasks of an administrator is to improve the performance of important quality measures to meet key benchmarks that may have associated financial incentives or penalties. Data and information about these measures may be abundant, but the story they tell is usually incomplete. Bayesian statistics is an ideal discipline to assess these tasks because it allows one to deal with uncertainty in an organized fashion without being vague or imprecise.</p>

                    <p>Because quality measures can be assesed in probabilistic terms (i.e. how likely is the achievement of a given performance benchmark?), they lend themselves perfectly to the Bayesian approach. The primary feature of Bayesian analysis is that it provides a mathematically objective method for combining data with many unrelated facts to produce a more comprehensive assessment. Bayesian statistics differs from classical statistics in that they allow experts to use their understanding of a situation along with probabilistic judgements based on the data.</p>

                    <p>The result of a Bayesian analysis is the posterior distribution which describes the uncertainty of a projected outcome. Where the performance benchmarks intersect the posterior distribution show in graphical form the probability of successful achievement. More information can be extracted from available data because this method allows for every piece of evidence, central or marginal, to add its weight to the final assessment. Furthermore, the use of quantifiable judgements allows the results of the analysis to be described and communicated more accurately, rather than through loosely defined categories such as "probable", "likely" or "potential".</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div>
                    <h1>Performance Measures</h1>
                    <p>Describe which types of performance measures apply to this method and how you can add incentives and penalties assocated with benchmarks to budget for performance. </p>
                </div>
            </div>
        </div>
    </section>     
{% endblock %}

<!-- 
<p>The Bayesian approach to data modeling represents uncertainty with probabilities. The data generating process may have a particular probability of an outcome, but since you don't know what that is, you represent your uncertainty about that value with a distribution.</p>
 -->

<!--  

Full Template found https://startbootstrap.com/templates/scrolling-nav/

The IF form argument recieves the POSTFORM that is rendered when the logged in user is on his or her own blog page.
This template is used for two view functions (index & explore). The index function contains the form, explore doesn't.

Jinja2 template inheritance allows for this template to be passed into the base template

the block control statement to define the place where the derived templates can insert themselves. Blocks are given a unique name, which derived templates can reference when they provide their content.

The render_template() function invokes the Jinja2 template engine that comes bundled 
with the Flask framework. Jinja2 substitutes blocks in the template with the 
corresponding values and control statements, given by the arguments provided in the render_template() call.
-->
