{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form action="" method="post">
        {{ measure_form.hidden_tag() }}
        <p>
            {{ measure_form.name.label }}<br>
            {{ measure_form.name(size=32) }}<br>
            {% for error in measure_form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ measure_form.unit.label }}<br>
            {{ measure_form.unit(size=64) }}<br>
            {% for error in measure_form.unit.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ measure_form.start_date.label }}<br>
            {{ measure_form.start_date(size=32) }}<br>
            {% for error in measure_form.start_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ measure_form.end_date.label }}<br>
            {{ measure_form.end_date(size=32) }}<br>
            {% for error in measure_form.end_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ measure_form.direction.label }}<br>
            {{ measure_form.direction(size=32) }}<br>
            {% for error in measure_form.direction.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ benchmark_form.benchmarks() }}
        </p>
        <p>{{ benchmark_form.submit() }}</p>
    </form>
{% endblock %}
