{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(72) }}"></td>
            <td>
                <h1>Welcome {{ user.username }}</h1>
                <a href="{{ url_for('measure_setup') }}">Create New Measure</a>
            </td>
        </tr>
    </table>
    <h2> Current Measures</h2>
    {% if measures %}
    {% for measure in measures %}
        {% include '_measure.html' %}
    {% endfor %}
    {% else %}
        <p> You have no measures </p>
    {% endif %}

{% endblock %}

<!-- 
<button action="{{ url_for('delete_measure', measure=measure) }}">Delete</button>
<a href="{{ url_for('delete_measure', measure_id= measure.id) }}">Delete</a>
 -->