{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td>
                <h1>{{ user.username }}</h1>
            </td>
        </tr>
    </table>
    <h2> Current Measures</h2>
    {% for measure in measures %}
        <table>
            <tr>
                <th> 
                    <p>{{ measure.name }}</p>
                </th>
                <th>
                    <button action="{{ url_for('delete_measure', measure=measure) }}">Delete</button>
                    <a href="{{ url_for('delete_measure', measure= measure) }}">Delete</a>
                </th>
            </tr>
        </table>
    {% endfor %}

{% endblock %}

